<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>index2</title>
  </head>
  <body>
    <div id="app">
      <h3>数据响应式更新 原理</h3>
      <div>{{t}}</div>
      <div>{{t1}}</div>
      <div>{{arr}}</div>

      <h3>Method + 事件 + 数据响应式更新 原理</h3>
      <div>
        <p>{{counter}}</p>
        <button v-on:click="handleAdd">Add</button>
        <button v-on:click="handleMinus">Minus</button>
      </div>
      <h3>v-bind</h3>
      <span v-bind:title="title">右键审查元素查看title</span>
      <h3>v-model 原理</h3>
      <div>
        <input type="text" v-model="inputVal" />
        <div>{{inputVal}}</div>
      </div>
      <div>
        <input type="checkbox" v-model="isChecked" />
        <div>{{isChecked}}</div>
      </div>
      <div>
        <select v-model="selectValue">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <div>{{selectValue}}</div>
      </div>
      <h3>组件原理</h3>
      <comp></comp>
      <h3>插槽 原理</h3>
      <scope-slot></scope-slot>
      <scope-slot>
        <template v-slot:default="scopeSlot">
          <div>{{scopeSlot}}</div>
        </template>
      </scope-slot>
    </div>

    <script src="./src/wjyvue.js"></script>
    <script>
      const wjy = new WJYVue({
        el: "#app",
        data() {
          return {
            t: "t value",
            t1: {
              tt1: "tt1 value",
            },
            arr: [1, 2, 3],
            counter: 0,
            title: "看我",
            inputVal: "test",
            isChecked: true,
            selectValue: 2,
          };
        },
        methods: {
          handleAdd() {
            this.counter++;
          },
          handleMinus() {
            this.counter--;
          },
        },
        computed: {
          doubleCompCounter() {
            console.log("evalute doubleCounter");
            return this.counter * 2;
          },
        },
        components: {
          // 子组件
          comp: {
            template: `
              <div>
                <p>{{ compCounter }}</p>
                <p>{{ doubleCompCounter }}</p>
                <p>{{ doubleCompCounter }}</p>
                <button v-on:click="handleCompAdd"> comp add </button>
                <button v-on:click="handleCompMinus">comp minus</button>
              </div>
            `,
            data() {
              return {
                compCounter: 0,
              };
            },
            methods: {
              handleCompAdd() {
                this.compCounter++;
              },
              handleCompMinus() {
                this.compCounter--;
              },
            },
            computed: {
              doubleCompCounter() {
                console.log("evalute doubleCounter");
                return this.compCounter * 2;
              },
            },
          },
          "scope-slot": {
            template: `
              <div>
                <slot name="default" v-bind:slotKey="slotKey">{{ slotKey }}</slot>
              </div>
            `,
            data() {
              return {
                slotKey: "scope slot content",
              };
            },
          },
        },
      });

      setTimeout(() => {
        console.log("属性值为原始值时的getter, setter");
        console.log(wjy.t);
        wjy.t = "change t value";
        console.log(wjy.t);
      }, 1000);

      setTimeout(() => {
        console.log("属性的新值为对象的情况");
        wjy.t = {
          tt: "tt value",
        };
        console.log(wjy.t.tt);
      }, 2000);

      setTimeout(() => {
        console.log("验证对深层次的 getter, setter拦截");
        wjy.t1.tt1 = "change tt1 value";
        console.log(wjy.t1.tt1);
      }, 3000);

      setTimeout(() => {
        console.log("将值为对象的属性更新未原始值");
        console.log(wjy.t1);
        wjy.t1 = "t1 value";
        console.log(wjy.t1);
      }, 4000);

      setTimeout(() => {
        console.log("数组的拦截");
        console.log(wjy.arr);
        wjy.arr.push(4);
        console.log(wjy.arr);
      }, 5000);
    </script>
  </body>
</html>
